* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#battleground {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#drone {
    position: absolute;
    top: 500px;
    left: 500px;
    width: 100px;
    height: 100px;
    background: url("./drone.png") no-repeat center / contain;
    transition: all .5s ease;
    transform-origin: center;
    transform: rotate(0deg);
}

#drone.moving-left {
    transform: rotate(-15deg);
}

#drone.moving-right {
    transform: rotate(15deg);
}

#drone .tooltip {
    display: none;
    position: absolute;
    background-color: beige;
    color: black;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    top: 40px;
    right: -100px;
    width: 100px;
}

#drone .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    width: 8px;
    height: 8px;
    background-color: beige;
    border-color: beige;
    border-width: 1px;
    border-style: none none solid solid;
    transform: rotate(45deg);
}

#drone .wings {
    position: absolute;
    width: 40px;
    height: 10px;
    top: 20px;
    background: url("./wings.png") no-repeat center / contain;
    animation: rotation .4s linear infinite;
}

#drone .wings.wings-left {
    left: -5px;
}

#drone .wings.wings-right {
    right: -6px;
}

@keyframes rotation {
    100% {
        transform: rotateY(360deg);
    }
}